<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Titulo | PreguntadOrt</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
    <nav>
        <a class="navbar-brand" href="@Url.Action("")"><img src="~/img/icono.png" alt="Icono de PreguntOrt"></a>
        <button asp-area="" asp-controller="Home" asp-action="Index"> Home </button>
        <button asp-area="" asp-controller="Home" asp-action="ConfigurarJuego"> Iniciar juego </button>

        



    </nav>
    </header>
    
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="footer text-center text-light bg-dark">
        <div class="container">
            <p>&copy;2024 piratamax</p>
            <p><a href="@Url.Action("Privacy")">Privacy</a></p>
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
