<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Titulo | PreguntadOrt</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <footer class="footer text-center text-light bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md"><p>&copy;2024 Etermax</p></div>
                <div class="col-sm"><p><a href="@Url.Action("Creditos")">Créditos</a></p></div>
                <div class="col-sm"><p><a href="@Url.Action("PoliticaPrivacidad")">Politica De Privacidad</a></p></div>
            </div>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
