<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Titulo | PreguntadOrt</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/brands.min.css"  asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/fontawesome.min.css"  asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <footer class="footer text-center text-light bg-dark">
    <div class="redes-sociales">
            Síguenos en:
            <a href="https://www.facebook.com/etermax/?locale=es_LA"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://x.com/etermax"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://www.instagram.com/etermax/?hl=es"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://www.tiktok.com/tag/etermaxlang=es"><i class="fa-brands fa-tiktok"></i></a>
            <a href="https://ar.linkedin.com/company/etermax"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md"><p>&copy;2024 Etermanx</p></div>
                <div class="col-sm"><p><a href="@Url.Action("Creditos")">Créditos</a></p></div>
                <div class="col-sm"><p><a href="@Url.Action("PoliticaPrivacidad")">Politica De Privacidad</a></p></div>
            </div>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
