<div class="arribaJuego">
    <a class="btn" href="@Url.Action("ConfigurarJuego")">&larr; Reiniciar Partida</a>
    <p id="contador"><noscript>Para ver el contador, necesitás Javascript.</noscript></p>
</div>

<script src="~/js/Contador.js" asp-append-version="true"></script>