@{
    ViewBag.Titulo = "Créditos";
}

<a class="btn btnFlotante" href="javascript:history.back();">&larr; Volver</a>

<div class="container">
    <h1 class="text-center">Etermanx</h1>
    <div class="credits">
        <div class="panel" style="background-image: url('../img/Creditos/Solmesky.jpeg');">
            <h2><a href="https://github.com/SantiSolmesky" target="_blank">Santiago Eitan Solmesky</a></h2>
        </div>

        <div class="panel" style="background-image: url('../img/Creditos/Tjor.jpg');">
            <h2><a href="https://github.com/tjor75" target="_blank">Lucas Tjor</a></h2>
        </div>

        <div class="panel" style="background-image: url('../img/Creditos/Chinski.jpg');">
            <h2><a href="https://github.com/DavidChinski" target="_blank">David Chinski</a></h2>
        </div>

        <div class="panel" style="background-image: url('../img/Creditos/Korngold.jpg');">
            <h2><a href="https://github.com/tomaskorn22" target="_blank">Tomás "Korgol" Korngold</a></h2>
        </div>
    </div>
</div>

<script src="~/js/Creditos.js" asp-append-version="true"></script>