<head>
    <link rel="stylesheet" href="~/css/creditos.css"/>
</head>
<body class = "body-credits">
    <div class="credits">
        <div class="panel active" style="background-image: url('../img/Santisolmeok.jpeg');">
            <h3>Santiago Eitan Solmesky</h3>
        </div>

        <div class="panel" style="background-image: url('../img/Santisolmeok.jpeg');">
            <h3>Tomás Korngold</h3>
        </div>

        <div class="panel" style="background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80');">
            <h3>David Chinski</h3>
        </div>

        <div class="panel" style="background-image: url('https://images.unsplash.com/photo-1551009175-8a68da93d5f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80');">
            <h3>Lucas Tjor</h3>
        </div>
    </div>

    <script src="creditos.js"></script>
</body>