@{
    ViewBag.Titulo = "Créditos";
}


<div class="container">
    <a class="btn" href="javascript:history.back();">&larr; Volver</a>
    <h1>Créditos</h1>
    <img class="img-creds" src="~/img/Creditos.jpeg" alt="Foto de los tres">
    <ul class="expandido">
        <li><a href="https://github.com/tomaskorn22">Tomás "Korgol" Korngold</a></li>
        <li><a href="https://github.com/DavidChinski">David Chinski</a></li>
        <li><a href="https://github.com/tjor75">Lucas Tjor</a></li>
    </ul>
</div>
