@{
    ViewBag.Titulo = "Fin";
}

<div class="container">
    <h1>Muy bien</h1>
    <p>@ViewBag.Mensaje</p>
    <p></p>

    @if (ViewBag.Perdido)
    {
        <div class="textoFin"><p>textoFin</p></div>
        <img class="img-fluid" src="~/img/Fin/GoodEnding.jpg" alt="Foto de Good Ending">
    }
    else
    {
        <div class="textoFin bg-black text-white"><p>SE ACABO EL TIEMPO</p></div>
        <img class="img-fluid" src="~/img/Fin/BadEnding.png" alt="Foto de Bad Ending">
    }
    
    <p>@ViewBag.username</p>
</div>