@{
    ViewBag.Titulo = "Tantas preguntas, tan pocas respuestas";
}

<video src="~/video/Index.mp4" autoplay muted loop>
    Tu navegador no suporta video HTML5.
</video>

<div class="container text-center index">
    <img class="logo" src="~/img/Marca/LogotipoClaro.png" alt="Logo de PreguntadOrt">
    <h1 class="fs-3">Tantas preguntas, tan pocas respuestas</h1>
    <p class="fs-4">Poné a prueba tus conocimientos</p>
    <p><a class="btn" href="@Url.Action("ConfigurarJuego")">Iniciar juego</a></p>
</div>