@{
    ViewBag.Titulo = "Tantas preguntas, tan pocas respuestas";
}

<div class="container text-center index">
    <img class="logo" src="~/img/logo.png" alt="Logo de PreguntadOrt">
    <h1 class="fs-3">Tantas preguntas, tan pocas respuestas</h1>
    <p class="fs-4">Poné a prueba tus conocimientos</p>
    <p><a class="btn" href="@Url.Action("ConfigurarJuego")">Iniciar juego</a></p>
</div>
