@{
    ViewBag.Titulo = "Politica De Privacidad";
}

<div class="container">
<a class="btn" href="javascript:history.back();">&larr; Volver</a>

<h1>Introduccion</h1>
<p>Mediante la presente Política de Privacidad se explica cómo Etermax recopila, utiliza, almacena, comparte y, en general, trata su Información Personal y/u otro tipo de información de o acerca de los usuarios (denominada conjuntamente “Información”). Por Información Personal se entiende aquella información que puede ser utilizada para identificar al usuario. Para los residentes de California la definición de Información Personal se establece en la sección 9 “Derechos adicionales para los residentes de California”.</p>

<p>Al acceder y/o utilizar los juegos, aplicaciones, nuestros chats, las compras desde las apps o sitio web de Etermax (los “Servicios”), el usuario autoriza la recopilación, transferencia, manipulación, almacenamiento y divulgación de su información y otros usos, conforme se describe en la presente Política de Privacidad.</p>

<p>Tal como se establece en los Términos y Condiciones con respecto a los Servicios (“Condiciones de Servicio”), el usuario debe ser mayor de edad, de acuerdo con las leyes de su estado o país de residencia, o bien tener el consentimiento de sus padres o tutor legal, y que sus padres o tutor legal estén de acuerdo con estas Políticas de Privacidad. Para los usuarios que se encuentren en la Unión Europea, el usuario debe tener al menos 16 años para acceder y/o utilizar los Servicios. Si el usuario es menor de 16 años debe contar con el consentimiento de su tutor legal y solo en la medida en que el tutor legal está de acuerdo con esta Política de Privacidad para acceder y/o utilizar los Servicios. En caso de que la legislación nacional aplicable del usuario lo permita, el usuario menor de 16 años puede acceder al servicio, siempre que esta no sea inferior a 13 años.</p>

<p>El responsable del tratamiento de su Información Personal por ser quien presta los Servicios es</p>
<div >
<h4><b> Derechos adicionales y opciones</h4></b>
<p>CCPA otorga derechos específicos sobre su Información Personal a los residentes de California. Esta sección describe dichos derechos y establece cómo ejercitarlos.</p>

<p>(i) Acceso a información específica</p>

<p>Tiene el derecho de solicitar que Etermax le revele cierta información acerca de su Información Personal recolectada y usada en los últimos doce (12) meses. Una vez recibida y confirmada su solicitud (ver sección 9.3 i) “Ejercicio de los derechos de acceso y borrado de datos”), le informaremos: (i) las categorías de su información personal que hemos recolectado; (ii) las categorías de las fuentes de donde hemos recolectado su Información Personal; (iii) el fin comercial o de negocio para recolectar o vender dicha información personal; (iv) las categorías de terceras partes con quienes compartimos su información personal; (v) su Información Personal específica recolectada; y (vi) si hemos vendido o divulgado su Información Personal con un fin comercial, dos listas separadas detallando: (a) ventas, identificando las categorías de Información Personal que cada categoría de terceras partes han comprado; y (b) divulgaciones, identificando las categorías de Información Personal que cada categoría de terceras partes han recibido.</p>

<p>(ii) Derechos al borrado de datos</p>

<p>Tiene el derecho de solicitor a Etermax el borrado de cualquier Información Personal que hayamos recolectado y retenido, salvo por ciertas excepciones mencionadas en CCPA. Una vez recibida y confirmada su solicitud (ver sección 9.3 i) “Ejercicio de los derechos de acceso y borrado de datos”), procedermos al borrado de su Información Personal salvo que alguna excepción sea aplicable.</p>

<p>(iii) Derecho de exclusión - “No quiero que se venda mi información personal”</p>

<p>CCPA otorga a los residentes de California el derecho para optar que no se venda su información personal por parte de Etermax.</p>

<p>Etermax no “vende” Información Personal de nuestros usuarios en la forma en que la mayoría de la gente entiende usualmente dicho término, sino en la forma amplia en que CCPA define el término “vender”. Sin embargo, permitimos a algunos socios publicitarios recopilar información acerca de los consumidores a través de nuestros juegos y nuestro sitio web con los fines detallados en la sección 3 de esta Política de Privacidad.</p>
</div>
</div>
