@{
    ViewBag.Titulo = "PoliticaPrivacidad";
}
<div class="container">
<a class="btn" href="javascript:history.back();">&larr; Volver</a>

<h1>Introduccion</h1>
<p>Mediante la presente Política de Privacidad se explica cómo Etermax recopila, utiliza, almacena, comparte y, en general, trata su Información Personal y/u otro tipo de información de o acerca de los usuarios (denominada conjuntamente “Información”). Por Información Personal se entiende aquella información que puede ser utilizada para identificar al usuario. Para los residentes de California la definición de Información Personal se establece en la sección 9 “Derechos adicionales para los residentes de California”.</p>

<p>También detalla cómo el COI procesa los datos personales que recibe de otras organizaciones, o a través de cookies y tecnologías similares que se integran en las propiedades digitales de otra organización en beneficio del COI.</p>

<p>Otras organizaciones pueden lanzar y operar páginas web, boletines de noticias, plataformas de comercio electrónico u otros servicios que estén (a) relacionados con los Juegos Olímpicos, los Juegos Olímpicos de la Juventud o las actividades del Movimiento Olímpico, o (b) que presenten contenido relacionado con los Juegos Olímpicos. Tales páginas web y servicios funcionan con independencia del COI, y no están cubiertos por esta Política de privacidad. Por lo tanto, le recomendamos que lea las condiciones de uso y las políticas de privacidad que se aplican a estas páginas web y servicios. En el caso de que recopilemos datos personales a través de estos servicios, se mencionará en sus políticas de privacidad y condiciones del servicio.</p>
<div >
<h4><b>Quienes Somos</h4></b>
<p>Mediante la presente Política de Privacidad se explica cómo Etermax recopila, utiliza, almacena, comparte y, en general, trata su Información Personal y/u otro tipo de información de o acerca de los usuarios (denominada conjuntamente “Información”). Por Información Personal se entiende aquella información que puede ser utilizada para identificar al usuario. Para los residentes de California la definición de Información Personal se establece en la sección 9 “Derechos adicionales para los residentes de California”.</p>
<p>Al acceder y/o utilizar los juegos, aplicaciones, nuestros chats, las compras desde las apps o sitio web de Etermax (los “Servicios”), el usuario autoriza la recopilación, transferencia, manipulación, almacenamiento y divulgación de su información y otros usos, conforme se describe en la presente Política de Privacidad.</p>
<p>El responsable del tratamiento de su Información Personal por ser quien presta los Servicios es:</p>
</div>
</div>