@{
    if (ViewBag.Respuesta == true)
        ViewBag.Mensaje = "Tu respuesta es correcta";
    else
        ViewBag.Mensaje = "Segui participando";

    ViewBag.Titulo = ViewBag.Mensaje;
}

<div class="container">
    <div class="card">
        @if (ViewBag.ProximaPregunta.Foto != null)
        {
            <img src="@ViewBag.ProximaPregunta.Foto" class="card-img-top" alt="Foto de la pregunta">
        }
        <div class="card-body">
            <h5 class="card-title">@ViewBag.ProximaPregunta.Enunciado</h5>
        </div>
    </div>
    <h1>@ViewBag.Mensaje</h1>
    <p>@ViewBag.Correcta.Contenido</p>
</div>