@import url("./fonts.css");

body {
  font-family: "Mukta";
}


header {
  position: sticky;
  top: 0;
}
.navbar-brand img { height: 40px; }


main { min-height: 84.5vh; }
main .logo {
  width: 80%;
}
.container {
  max-width: 50vw;
}
main:has(> .index) {
  background-image: url("../img/nubes.jpeg");
  background-position: bottom center;
  background-size: cover;
}


footer p:first-child {
  font-family: "Comic Sans MS", cursive;
}


@media screen and (max-width: 768px) {
  main .logo { width: 100%; }
  .container {
    max-width: 80vw;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 100vw;
  }
}